/Escopo_inicializacao01.class
/Exercicio01.class
/Exercicio02.class
/Exercicio03.class
/Exercicio04.class
/Exercicio05.class
/Exercicio06.class
/Exercicio07.class
/Exercicio08.class
/Expressao_condicional_ternaria01.class
/Horas00.class
/Operadora01.class
/Semana01.class
